---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Services from '../components/Services.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Servicios">
  <Header />
  
  <div class="pt-20">
    <Services />
  </div>
  
  <Footer />
</Layout>
