---
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/Header.astro';
import Services from '../../components/Services.astro';
import Footer from '../../components/Footer.astro';
---

<Layout title="Servicio Técnico de Compresores" description="Mantenimiento y gestión de compresores de alta presión. Equipo técnico con +20 años de experiencia.">
  <Header />
  
  <div>
    <Services />
  </div>
  
  <Footer />
</Layout>
